%h1 Countries you have visited
%table
  %tr
    %th Country Name
    %th{colspan: "2"}
  - @countries.each do |country|
    %tr
      %td= country.name
      %td= link_to 'edit', edit_country_path(country)
= link_to 'Back', root_path
