<h1>Your Routes</h1>
<table>
	<tr>
		<th>Route Name</th>
	</tr>

	<% @routes.each do |route| %>
	<tr>
		<td><%= route.route_name %></td>
		<td><%= link_to 'Show', route_path(route) %></td>
		<td><%= link_to 'Edit', edit_route_path(route) %></td>
	</tr>
<% end %>
</table>

<%= link_to 'Back', root_path %>
